extends layout

block content
  .page
    nav
      span logo
    main
      h1= title
      p Welcome to #{title}
      #promo
        .promo-title Will you find some lifers?
        button.answer.answer-yes Yes!
        button.answer.answer-no No?
